* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Tomatoes";
  src: url(main/Tomatoes-O8L8.ttf) format('truetype');
}
    
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "comic sans";
  font-size: 1.8rem;
  background-color: #faffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  height: 7.2rem;
  background-color: #1a343b;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

h1 {
  font-family:"Tomatoes", sans-serif:
  
}
